<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Configuração do BD -->
		<property name="hibernate.connection.username">sgae</property>
		<property name="hibernate.connection.password">sgaeteam</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/sgaedb</property>
		<!--<property name="hibernate.connection.url">jdbc:mysql://ec2-50-19-213-178.compute-1.amazonaws.com/sgaedb</property>-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- Entidades mapeadas (e anotadas) para o Hibernate-->
        <mapping class="br.com.sgaeteam.sgae.model.Aluno" /> 
        <mapping class="br.com.sgaeteam.sgae.model.Cliente" />
        <mapping class="br.com.sgaeteam.sgae.model.Contato" />        
        <mapping class="br.com.sgaeteam.sgae.model.Endereco" /> 
        <mapping class="br.com.sgaeteam.sgae.model.Perfil" />
        <mapping class="br.com.sgaeteam.sgae.model.Plano" />
        <mapping class="br.com.sgaeteam.sgae.model.TipoUnidade" />
        <mapping class="br.com.sgaeteam.sgae.model.Pagamento" />
        <mapping class="br.com.sgaeteam.sgae.model.Usuario" />
        <mapping class="br.com.sgaeteam.sgae.model.Unidade" />
        <mapping class="br.com.sgaeteam.sgae.model.Estado" />
        <mapping class="br.com.sgaeteam.sgae.model.OrgaoEmissor" />
		 
	</session-factory>
</hibernate-configuration>